container_commands:
  00_test_output:
    command: "echo 'db migrating'"
  01_make_migrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  03_load_data:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata groups/fixtures/initial_data.json"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: matchgroupmicroservice.settings